.cloudA{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.cloudA img{
    display: block;
    height: 10vh;
    width: 10vmax;
    opacity: 0.9;
}
.cloud1{
    position: absolute;
    top: 0;
    left: 10vw;
    animation-name: cloud1M;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes cloud1M {
    0%{
        left:10vw;
    }
    100%{
        left:calc(100vw - 10vmax - 10vw);
    }
}
.cloud2{
    position: absolute;
    top: 10vh;
    left: 0vw;
    animation-name: cloud2M;
    animation-timing-function: ease-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes cloud2M {
    0%{
        left:calc(100vw - 10vmax - 20vw);
    }
    100%{
        left:0vw;
    }
}
.cloud3{
    position: absolute;
    top: 20vh;
    left: 30vw;
    animation-name: cloud3M;
    animation-timing-function:linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes cloud3M {
    0%{
        left:30vw;
    }
    100%{
        left:calc(100vw - 10vmax);
    }
}
.cloud4{
    position: absolute;
    top: 30vh;
    left: 0vw;
    animation-name: cloud4M;
    animation-timing-function:ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes cloud4M {
    0%{
        left:calc(100vw - 10vmax - 10vw);
    }
    100%{
        left:10vw;
    }
}
.cloud5{
    position: absolute;
    top: 40vh;
    left: 10vw;
    animation-name: cloud1M;
    animation-timing-function:linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.cloud6{
    position: absolute;
    top: 50vh;
    left: 30vw;
    animation-name: cloud6M;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes cloud6M {
    0%{
        left:20vw;
    }
    100%{
        left:calc(100vw - 10vmax);
    }
}
.cloud7{
    position: absolute;
    top: 60vh;
    left: 40vw;
    animation-name: cloud7M;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes cloud7M {
    0%{
        left:0vw;
    }
    100%{
        left:calc(100vw - 10vmax - 20vw);
    }
}
.cloud8{
    position: absolute;
    top: 70vh;
    left: 40vw;
    animation-name: cloud8M;
    animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes cloud8M {
    0%{
        left:10vw;
    }
    100%{
        left:calc(100vw - 10vmax - 30vw);
    }
}
.cloud9{
    position: absolute;
    top: 80vh;
    left: 40vw;
    animation-name: cloud4M;
    animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.cloud10{
    position: absolute;
    top: 90vh;
    left: 40vw;
    animation-name: cloud1M;
    animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}