#boxx{
    position: relative;
    transform: translate(0, 10vh);
    width: 80vw;
    height: 70vh;
    position: relative;
    top: 10vh;
    left: 0;

    background: rgb(255 255 255 / 88%) no-repeat center;
    border-radius: 30px;
    color: rgb(0, 0, 0);

    box-shadow: 8px 14px 17px 2px #00000078;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ribon{
    position: absolute;
    width: 20vw;
    height:20vw;
    top: -1vw;
    left: -1vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
:root{
    --con:hello;
}
#ribon::before{
    color: azure;
    content: attr(date);
    position: absolute;
    font-size:xx-large;
    width: 180%;
    height: 4vw;
    background: #ff3a80;
    transform: rotate(-45deg) translateY(-2vw);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#ribon::after{
    content: "";
    position: absolute;
    bottom: 0vw;
    left: 0;
    width: 1vw;
    height: 1vw;
    background: #2c0230;
    z-index: -1;
    box-shadow: 19vw -19vw #2c0230;
} 