input{
    border: none;

    width:70vw;
    height: 6vh;

    border-radius:4vh;

    outline: none;
    z-index: 3;

    color: rgba(255, 255, 255, 0.623);
    background-color: rgb(5 26 57) !important;
    font-size:2vh;
    padding-left: 1vw;

}
.inputStyle {
    position: absolute;
    top:3vh;

    width: 80vw;
    height: 7vh;
    
    padding-left: 1vw ;

    display: flex;
    justify-content:flex-start;
    align-items: center;

    border: .3vw solid aliceblue;
    background-color: rgb(5 26 57);
    border-radius:4vh;


    z-index: 3;
    opacity: 0.8;
    overflow: hidden;
}
input[type="string"]{
    background-color: rgb(5 26 57);
}
#gprs{
    width:5vh;
    height: 5vh;
    margin-right: .5vw;
}
#srchIMG{
    width:5vh;
    height: 5vh;
    margin-right: .5vw;

    position: relative;
    top:0;
    left: 0;

    animation-timing-function: linear;
    animation-duration: 5s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    z-index: 4;
}
@keyframes slide {
    0%{
        top:0;
        left: 0;
    }
    50%{
        transform: scale(1.5) rotate(180deg);
        transition: .3s;
        top:0;
        left: 80vw;
    }
    100%{
        top:0;
        left: 0;
    }
}